@import '../../../../styles/variable.scss';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;
  width: 475px;
  height: 191px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  border: 1px solid blueviolet;
}

.wrapper_empty {
  background: $background-color;
  width: 491px;
  height: 207px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin step_wrapper($background, $marginLeft) {
  background: $background;
  margin-left: $marginLeft;
  border-radius: 16px;
  width: 500px;
  height: 216px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  padding-left: 47%;
  padding-top: 16%;
  padding-bottom: 5%;
}

.wrapper_right {
  @include step_wrapper(
    linear-gradient(
      90deg,
      rgba(21, 191, 253, 0) 76.03%,
      rgba(21, 191, 253, 0.7) 94.15%,
      rgba(156, 55, 253, 0.7) 99.95%
    ),
    0
  );
}

.wrapper_left {
  @include step_wrapper(
    linear-gradient(
      270deg,
      rgba(21, 191, 253, 0) 76.03%,
      rgba(21, 191, 253, 0.7) 94.15%,
      rgba(156, 55, 253, 0.7) 99.95%
    ),
    auto
  );
}

.progress_line {
  width: 4px;
  height: 68%;
  top: 26%;
  background: $blue-green-gradient-color;
  position: absolute;
  left: calc(100% / 2);
}

.point {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: $blue-color;
}

.point_box_left {
  position: absolute;
  left: calc(100% / 2 - 55px);
  display: flex;
  column-gap: 5px;
}

.point_box_right {
  position: absolute;
  left: calc(100% / 2 - 10px);
  display: flex;
  column-gap: 5px;
}

.arrow {
  width: 40px;
}
