@import '../../../../styles/variable.scss';

@mixin small_star($left, $top) {
  position: absolute;
  width: 15px;
  height: 17px;
  left: $left;
  top: $top;
}

@mixin normal_star($left, $top) {
  position: absolute;
  width: 24px;
  height: 28px;
  left: $left;
  top: $top;
}

@mixin big_star($left, $top) {
  position: absolute;
  width: 36px;
  height: 41px;
  left: $left;
  top: $top;
}

.star1 {
  @include normal_star(50%, 165%)
}

.star2 {
  @include normal_star(24%, 170%)
}

.star3 {
  @include normal_star(70%, 175%)
}

.star4 {
  @include big_star(90%, 175%)
}

.star5 {
  @include normal_star(7%, 300%)
}

.star6 {
  @include small_star(67%, 300%)
}

.star7 {
  @include small_star(75%, 330%)
}

.star8 {
  @include big_star(88%, 360%)
}

.star9 {
  @include normal_star(30%, 550%)
}

.star10 {
  @include small_star(11%, 645%)
}

.star11 {
  @include normal_star(93%, 666%)
}

.star12 {
  @include small_star(60%, 728%)
}

.star13 {
  @include small_star(87%, 785%);
  z-index: 1;
}

.star14 {
  @include normal_star(13%, 1120%)
}

.star15 {
  @include normal_star(95%, 1290%)
}

.star16 {
  @include normal_star(75%, 1575%)
}

.star17 {
  @include small_star(68%, 1603%)
}

.star18 {
  @include small_star(22%, 1635%)
}
