.container {
  display: grid;
  width: 95%;
  grid-template-columns: 26% 41% 16% 14%;
  grid-template-rows: 35% 35% 10%;
  padding-top: 10%;
  align-items: center;
  justify-items: stretch;
  align-content: stretch;
  column-gap: 1%;
  padding-bottom: 5%;
}

.first_title {
  grid-column-start: 1;
  grid-column-end: 3;
}

.first_description {
  grid-column-start: 3;
  grid-column-end: 5;
  display: flex;
  align-items: flex-end;
  height: 85%;
}

.button {
  grid-column-start: 1;
  grid-column-end: 2;
}

.second_title {
  grid-column-start: 2;
  grid-column-end: 5;
}

.second_description {
  grid-column-start: 4;
  grid-column-end: 5;
}
