@import '../../../../styles/variable.scss';

@mixin circle($left, $top, $zindex) {
  position: absolute;
  width: 356px;
  height: 356px;
  left: $left;
  top: $top;
  background: #2a3e84;
  z-index: $zindex;
  filter: blur(175px);
}

.circle1 {
  @include circle(90%, 50%, 0);
}

.circle2 {
  @include circle(10%, 120%, -1);
}

.circle3 {
  @include circle(65%, 300%, 0);
}

.circle4 {
  @include circle(-3%, 400%, 1);
}

.circle5 {
  @include circle(10%, 650%, 1);
}

.circle6 {
  @include circle(72%, 944%, 1);
}

.circle7 {
  @include circle(0%, 1140%, -1);
}

.circle8 {
  @include circle(73%, 1277%, -1);
}

.circle9 {
  @include circle(-2%, 1500%, -1);
}

.circle10 {
  @include circle(73%, 1600%, 1);
}
