$blue-violet-gradient-color: linear-gradient(152.14deg, rgba(21, 191, 253, 0.7) 9.96%, rgba(156, 55, 253, 0.7) 100%);
$blue-green-gradient-color: linear-gradient(180deg, #1FF2FF 0%, #27F9E5 52.66%, #2FFFCD 100%);
$gray-violet-gradient-color: linear-gradient(90deg, rgba(21, 191, 253, 0) 8.03%, rgba(21, 191, 253, 0.7) 69.15%, rgba(156, 55, 253, 0.7) 97.95%);
$white-color: #FFFFFF;
$light-blue-color: #A2CBFB;
$blue-color: #3B48D0;
$dark-blue-color: #0A1482;
$red-color: #FD4646;
$gray-color: #636363;
$dark-gray-color: rgba(255, 255, 255, 0.05);
$background-color: #0C102D;
